# * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
# *
# * Copyright 2002 - 2019 Hitachi Vantara. All rights reserved.
# *
# * NOTICE: All information including source code contained herein is, and
# * remains the sole property of Hitachi Vantara and its licensors. The intellectual
# * and technical concepts contained herein are proprietary and confidential
# * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
# * patents, or patents in process, and are protected by trade secret and
# * copyright laws. The receipt or possession of this source code and/or related
# * information does not convey or imply any rights to reproduce, disclose or
# * distribute its contents, or to manufacture, use, or sell anything that it
# * may describe, in whole or in part. Any reproduction, modification, distribution,
# * or public display of this information without the express written authorization
# * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
# * international treaties. Access to the source code contained herein is strictly
# * prohibited to anyone except those individuals and entities who have executed
# * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
# * explicitly covering such access.

################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# Defines if the startlvl should be respected during feature startup. The default value is true. The default
# behavior for 2.x is false (!) for this property
#
# Be aware that this property is deprecated and will be removed in Karaf 4.0. So, if you need to
# set this to false, please use this only as a temporary solution!
#
respectStartLvlDuringFeatureStartup=false


#
# Defines if the startlvl should be respected during feature uninstall. The default value is true.
# If true, means stop bundles respecting the descend order of start level in a certain feature.
#
#respectStartLvlDuringFeatureUninstall=true

#
# Comma separated list of features repositories to register by default
#
featuresRepositories=\
    mvn:org.pentaho.di.plugins/get-fields-plugin/${project.version}/xml/features,\
    mvn:org.apache.karaf.features/framework/${karaf.version}/xml/features,\
    mvn:pentaho-karaf-features/pentaho-big-data-plugin-osgi/${project.version}/xml/features,\
    mvn:org.pentaho.webpackage/pentaho-webpackage/${project.version}/xml/features,\
    mvn:org.apache.karaf.features/enterprise/${karaf.version}/xml/features,\
    mvn:org.apache.cxf.karaf/apache-cxf/${cxf.version}/xml/features,\
    mvn:org.pentaho.di.plugins/repositories-plugin/${project.version}/xml/features,\
    mvn:org.pentaho.di.plugins/file-open-save-plugin/${project.version}/xml/features,\
    mvn:org.pentaho/pentaho-requirejs-osgi-manager/${project.version}/xml/features,\
    mvn:pentaho/pentaho-dataservice/${project.version}/xml/features,\
    mvn:org.apache.activemq/activemq-karaf/${activemq.version}/xml/features,\
    mvn:org.apache.camel.karaf/apache-camel/${camel.karaf.version}/xml/features,\
    mvn:org.pentaho.di.plugins/pdi-engine-configuration/${project.version}/xml/features,\
    mvn:org.apache.karaf.features/standard/${karaf.version}/xml/features,\
    mvn:org.pentaho/pdi-marketplace/${project.version}/xml/features,\
    mvn:org.pentaho.di.plugins/file-open-save-new-plugin/${project.version}/xml/features,\
    mvn:org.pentaho.karaf/pentaho-karaf-overrides/${project.version}/xml/features,\
    mvn:org.pentaho.di.plugins/connections-plugin/${project.version}/xml/features,\
    mvn:org.hitachivantara.karaf.features/pentaho-karaf-features-standard/${project.version}/xml/features,\
    mvn:org.pentaho/pentaho-hadoop-shims-cdh61-kar/${pentaho-hadoop-shims-cdh61.version}/xml/features,\
    mvn:org.pentaho/pentaho-hadoop-shims-emr521-kar/${pentaho-hadoop-shims-emr521.version}/xml/features,\
    mvn:org.pentaho/pentaho-hadoop-shims-hdp30-kar/${pentaho-hadoop-shims-hdp30.version}/xml/features

#
# Comma separated list of features to install at startup
#
featuresBoot=\
    pentaho-client-minimal,\
    framework,\
    config

#
# Defines if the boot features are started in asynchronous mode (in a dedicated thread)
#
featuresBootAsynchronous=true