<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Plugin to enable the global configuration for VizAPI 3.0">
  <static-paths>
    <!-- enables the global configuration for VizAPI 3.0 -->
    <!-- this translates to /pentaho/content/config/deploy/* -->
    <static-path url="/config/deploy" localFolder="config/web-client" />
  </static-paths>

  <external-resources>
    <!-- enables the global configuration for VizAPI 3.0 -->
    <file context="requirejs">content/config/deploy/client-config-enabler-require-js-cfg.js</file>
  </external-resources>
</plugin>
